html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  /* background: hsla(205, 46%, 10%, 1); */
  background: linear-gradient(to right, #00b4db, #0083b0);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  /* background: linear-gradient(to right, #003c50, #007e9b); */
  /* filter: invert(1); */
  color: white;
}

button,
input[type="submit"],
input[type="reset"] {
  border: 2px solid rgb(42, 19, 141);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 1rem 0;
  display: inline-block;
  background-color: #28fcf1;
  color: rgb(42, 19, 141);
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

button:hover {
  background: #51fff6;
  box-shadow: inset 0px 0px 5px #007c76;
  outline: none;
}

form {
  margin-bottom: 1rem;
}

h1,
h2 {
  text-align: center;
}

hr {
  margin: 2rem auto;
}

input[type="text"],
input[type="email"],
textarea {
  border: thin solid rgb(69, 252, 252);
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  outline: none;
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
}

input[type="text"]::placeholder {
  color: rgb(42, 19, 141);
}

input[type="email"]::placeholder {
  color: rgb(42, 19, 141);
}

label {
  padding: 0.5rem 0;
  margin: 0 0 0.5rem 0;
  display: inline-block;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
}

.my-page {
  margin: 2rem auto;
  padding: 1rem;
  width: 70%;
  background: linear-gradient(to right, #0083b0, #00b4db);
  border-radius: 25px;
  box-shadow: 9px 11px 21px 5px rgba(0,0,0,0.75);
}

.my-page-dark {
  margin: 2rem auto;
  padding: 1rem;
  width: 70%;
  background: linear-gradient(to right, #003c50, #005264);
  border-radius: 25px;
  box-shadow: 9px 11px 21px 5px rgba(0,0,0,0.75);
}

select {
  border: thin solid rgb(69, 252, 252);
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: 0 0 0.5rem 0;
  display: block;
  width: auto;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
  border-bottom: thin solid #dedede;
}

@media screen and (min-width: 1024px) {
  .grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 2rem;
  }

  .grid-1-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    gap: 2rem;
  }
}
